$primary-text-color: #757575;
$secondary-text-color: rgba(255, 255, 255, 0.6);
$title-text-color: #212121;
$primary-white-color: #ffffff;
$accent-color: #2196f3;
$secondary-color: #f5f4fa;
$bg-color: #e5e5e5;
$bg-footer-color: #2f303a;
$company-clients-color: #afb1b8;
$copyrigt-color: rgba(255, 255, 255, 0.4);
